
* {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

p {
  margin: 10px;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.end p:last-child{
    color: red;
}