

/* Ses kaydetme animasyonu */
@keyframes record {
    0% {
      transform: scale(1);
      background-color: red;
    }
    50% {
      transform: scale(1.2);
      background-color: orange;
    }
    100% {
      transform: scale(1);
      background-color: red;
    }
  }
  
  .record-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    animation: record 2s infinite;
  }
  